################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/ImageCommentApp/copilot-chat/fe2d7191/sessions/5f3cbf4b-279e-4935-b507-8d38e1af8a76
*.v2
*.suo
/.vs/ImageCommentApp/v17/DocumentLayout.json
*.bin
*.dll
/bin/Debug/net8.0
*.config
*.props
*.cache
/obj/Debug/net8.0
/obj
/Properties
